      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-family:
          "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }

      .container {
        width: 400px;
        padding: 20px;
        background-color: rgb(201, 141, 204);
        border-radius: 25px;
      }

      h1 {
        text-align: center;
        margin-bottom: 15px;
        color: rgb(92, 3, 92);
      }

      #inp {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 15px;
        border-style: none;
      }

      #add_button {
        width: 100%;
        padding: 8px;
        border-radius: 15px;
        border-style: none;
        background-color: darkmagenta;
        color: white;
        cursor: pointer;
      }

      #add_button:hover {
        background-color: rgb(204, 41, 229);
      }

      #task_list {
        list-style: none;
        margin-top: 15px;
      }

      ul {
        list-style: none;
        margin-top: 15px;
      }

          li {
  background: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
 
/* Complete button (left) */
.complete-btn {
  width: 18px;
  height: 18px;
  border: 2px solid green;
  border-radius: 50%;
  cursor: pointer;
 
  display: flex;
  align-items: center;
  justify-content: center;
 
  font-size: 12px;
  color: white;
  
}
 
.marked {
  background-color: green;
}
 
/* Task text (center) */
.task-text {
  font-size: 14px;
}
 
/* Completed task */
.completed {
  text-decoration: line-through;
  color: gray;
}
 
/* Delete button (right) */
.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  
}
 

